{% extends 'layout.twig' %}

{% block title %} Liste des section {% endblock  %}

{% block content %} 


{% if result.error|length > 0 %}
<div class="alert alert-danger">
  <strong>{{ result.error }}</strong> 
</div>
{% else %}
  {% if result.success|length > 0 %}
<div class="alert alert-success">
  <strong>{{ result.success }}</strong> 
</div>
  {% endif %}
{% endif %}

<br>
<h4 align='center'>GESTION DES SECTIONS</h4>
<h4 style='color : green', align='center'>ANNEE EN COURS : {{annee.lib_anneescolaire}}</h4>

  {% if viewMode=='CREATE' %}

 <div class="row">
    <div class="col-sm-4">
<div class="card">
  <div class="card-header" style="font-size: 25px; background-color: #21CFFF">Formualaire ajout section</div>
  <div class="card-body">
<form method="post" action="/section/save">
 <div class="mb-3">
   <label for="" class="form-label">Filière*</label>
   <select name='filiere' class="form-control form-control-lg select2menu" required>
      <option value=''>Veuillez choisir une filiere</option>
      {% for f in filieres %}
        <option value='{{f.id_filiere}}'>{{f.lib_filiere}}</option>
      {% endfor %}
   </select>
  
 </div>

 <div class="mb-3">
   <label for="" class="form-label">Niveau*</label>
   <select name='niveau' class="form-control form-control-lg select2menu" required>
      <option value=''>Veuillez choisir un niveau</option>
      {% for n in niveaux %}
        <option value='{{n.id_niveau}}'>{{n.lib_niveau}}</option>
      {% endfor %}
   </select>
 </div>

<button type="reset" class="btn btn-danger">VIDER</button>
<button type="submit" class="btn btn-success" style="float: right">AJOUTER</button>

</form>
  </div>

</div>
    </div>
    <div class="col-sm-8">
<div class="card">
  <div class="card-header" style="font-size: 25px; background-color: #903800; color: white">Liste des sections</div>
  <div class="card-body data_table">
 <table class="table table-bordered table-striped " id="example" style="width:100%">
    <thead class="table">
      <tr>
        <th>SECTION</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
        {% for s in sections %}
       <tr>
        <td>{{s.lib_filiere}} {{s.lib_niveau}}</td>
        <td>
        <a href="/section/list/EDIT/{{s.id_section}}" class="btn btn-outline-primary btn-md">
          <i class="fa fa-edit"></i>
        </a>
        <a href="/section/delete/{{s.id_section}}" class="btn btn-outline-danger btn-md" onclick="return window.confirm('Etes vous sure de vouloir supprimer cette section ?')">
          <i class="fa fa-trash"></i>
        </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>

</div>
    </div>

    
</div>
 
 {% endif %}


{% if viewMode=='EDIT' %}
 <div class='row'>
    <div class='offset-sm-4 col-sm-4'>

<div class="card">
  <div class="card-header" style="font-size: 25px; background-color: #00E161">Formualaire modification section </div>
  <div class="card-body">
<form method="post" action="/section/edit">

 <input type='hidden' value='{{section.id_section}}' name='id'>

 <div class="mb-3">
   <label for="" class="form-label">Filière</label>
   <select name='filiere' class="form-control form-control-lg select2menu" required>
      {% for f in filieres %}
        <option value='{{f.id_filiere}}'  {% if f.id_filiere==section.filiere %} selected {% endif %}>{{f.lib_filiere}}</option>
      {% endfor %}
   </select>
  
 </div>

 <div class="mb-3">
   <label for="" class="form-label">Niveau</label>
   <select name='niveau' class="form-control form-control-lg select2menu" required>
      {% for n in niveaux %}
        <option value='{{n.id_niveau}}'  {% if n.id_niveau==section.niveau %} selected {% endif %}>{{n.lib_niveau}}</option>
      {% endfor %}
   </select>
  
 </div>



<a href="/section/list/CREATE" class="btn btn-danger">RETOUR</a>
<button type="submit" class="btn btn-success" style="float: right">MODIFIER</button>


</form>
  </div>

</div>


 </div>
 {% endif %}
    


{% endblock %} 


{% block js %}
<script>
$(document).ready(function() {
 
} );
</script>
{% endblock %}
